
        <main>
            <h1>Delete Cube</h1>
            <div class="form">
                <form  method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="{{thisCube.name}}" disabled="true" />
                    <label for="description">Description</label>
                    <textarea id="description" name="description" disabled="true" />{{thisCube.description}}</textarea>
                    <label for="image">ImageUrl</label>
                    <input type="text" id="image" name="imageUrl" value="{{thisCube.imageUrl}}" disabled="true" />
                    <label for="difficulty">Difficulty</label>
                    <select id="difficulty" name="difficultyLevel" value="" disabled="true" />
                    <option value="1" selected>{{difficultyLevel.key}} - {{difficultyLevel.label}}</option>
 
                    </select>
                    <input type="submit" value="Delete">
                </form>
            </div>
        </main>
    