

    <main>
        <section class="py-5" id="edit-trip-page">
            <div class="container edit">
                <h1>Edit trip</h1>
                <div>
                    <form action="" method="">
                        <div class="edit-label">
                            <label for="startPoint"> <i class="fas fa-map-marker-alt"></i> Starting Point</label>
                            <label for="endPoint"> <i class="fas fa-map-marker-alt"></i> End Point</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="text" class="form-control-2" id="startPoint" name="" value="">
                            <input type="text" class="form-control-2" id="endPoint" name="" value="">
                        </div>
                        <div class="edit-label">
                            <label for="date"> <i class="far fa-calendar-alt"></i> Date</label>
                            <label for="time"> <i class="far fa-clock"></i> Time</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="date" class="form-control-2" id="date" name="" value="">
                            <input type="time" class="form-control-2" id="time" name="" value="">
                        </div>
                        <div class="edit-label">
                            <label for="carImage">Car Image</label>
                            <label for="carBrand">Car Brand</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="text" class="form-control-2" id="carImage" name="" value="">
                            <input type="text" class="form-control-2" id="carBrand" name="" value="">
                        </div>
                        <div class="edit-label">
                            <label for="seats">Available Seats</label>
                            <label for="price">Price</label>
                        </div>
                        <div class="form-group edit-input">
                            <input type="text" class="form-control-2" id="seats" name="" value="">
                            <input type="text" class="form-control-2" id="price" name="" value="">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </main>







        {{!-- <main>

            
{{#if error}}
            <div class="error-box">
            <p>{{error.message}}</p>
        </div>
{{/if}}

            <section id="edit-page">

                <article class="edit-page-container">
                    <form  method="POST" class="edit-page-form">
                        <h2>Edit an ad</h2>

                        <label for="headline">Headline:</label>
                        <input type="text" id="headline" name="headline" value="{{#if error}}{{data.headline}}{{else}}{{item.headline}}{{/if}}">

                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" value="{{#if error}}{{data.location}}{{else}}{{item.location}}{{/if}}">

                        <label for="company-name">Company name:</label>
                        <input type="text" id="company-name" name="name" value="{{#if error}}{{data.name}}{{else}}{{item.name}}{{/if}}">

                        <label for="company-description">Company description:</label>
                        <input type="text" id="company-description" name="description" value="{{#if error}}{{data.description}}{{else}}{{item.description}}{{/if}}">

                        <article class="edit-page-button">
                            <button class="btn-edit-ads">Edit</button>
                        </article>
                    </form>

                    <article class="edit-page-image">
                        <!-- Do not forget to change the path to the image -->
                        <img src="/static/img/job.png" alt="image">
                    </article>
                </article>

            </section>
        </main>

 --}}
